/* gricad.css */
/* @theme gricad */

@import 'default';

section {
  background: url(nebuleuse.jpg) no-repeat center center ; opacity:.9 ;
  background-size: cover;
}




section::after {
  font-weight: bold;
  font-size: 15px;
  text-shadow: 1px 1px 0 #fff;
}

section::after {
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

footer {
  font-size: 15px;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #ac2b05;
    font-size: 1.6em;
    line-height: 1.3em;
    margin-bottom: .78571em
}


h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 650;
    color: #ac2b05;
    font-size: 1.4em;
    line-height: 1.3em;
    margin-bottom: .78571em
}
